extends /_p5js.jade
block pageVars
    - var titleHead = "blindfish simple web dev environment demo"
    - var titlePage = "p5 - browserify and SASS"
block append localVars
    //- The following can be uncommented if you want to override any
    //- of the default options already set in the template:
    //- - var p5version = "0.2.20"
    //- - var loadP5DOM = true
    //- - var loadP5Sound = true

block append head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href='css/bufi_m.css', rel='stylesheet')

block main
    div#sketch01
    div#controls
        p
            a.btn.red Red
            a.btn.cyan Cyan
            a.btn.teal Teal
            a.btn.light-green light-green
            a.btn.amber Amber
            a.btn.blue-grey blue-grey
            a.btn.grey grey
            a.btn.btn-large BIG
            a.btn.btn-flat FLAT
            a.btn.btn-flat.btn-large BIG FLAT

        p
            a.btn-floating.btn-large.teal
                i.material-icons add
        p
            a.btn-large.disabled Disabled

        fieldset.control-group-fieldset
            legend fieldset legend
            p.radio-group
              label Radio Group
              label.radio-label
                input#test1.with-gap(name="group1", type="radio")
                span Foo
              label.radio-label
                input#test2.with-gap(name="group1", type="radio")
                span Bar
                label.radio-label
                  input#test2.with-gap(name="group1", type="radio", checked="checked")
                  span Checked

            p
              label
                input.filled-in(type="checkbox", checked="checked")
                span Filled in checked

            p
                label
                  input.filled-in(type="checkbox")
                  span Filled in unchecked

            p.switch
                label Off
                    input(type="checkbox")
                    span.lever
                    |On

            p.switch
                label Off
                    input(type="checkbox", checked="checked")
                    span.lever
                    |On

            p.range-field
                input#test5(type="range", min="0", max="100")
                label(for="test5")
                  span Range

            p.range-field
                span.range-output 10
                input#test5(type="range", min="0", max="100")
                label(for="test5")
                  span Range

        //- useful for description and source code links
        div.card.blue-grey
            div.card-content.white-text
                span.card-title My sketch title
                p Some random text describing the sketch
            div.card-action
                a(href="#") source.js
        p .
        p .
        p .
        p .
        p .
        p .
        p .
        p .

block footer
    footer.page-footer.green
        div.container
            p some footer content

block scripts
    // script(src="js/bufi.js")
