extends /_p5js.jade
block pageVars
    - var titleHead = "blindfish simple web dev environment demo"
    - var titlePage = "p5 - browserify and SASS"
block append localVars
    //- The following can be uncommented if you want to override any 
    //- of the default options already set in the template:
    //- - var p5version = "0.2.20"
    //- - var loadP5DOM = true
    //- - var loadP5Sound = true
    
block append head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href='css/bufi_m.css', rel='stylesheet')
    //- link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css', rel='stylesheet')

block main
    div#control01
        
block footer
    footer.page-footer.green
        div.container
            p some footer content
                                
block scripts
    script(src="js/bufi.js")
    script(src="js/tests.js")
    
